<h1>Pages#home</h1>
<%= simple_form_for :search, url: dishes_path, :method => :get do |f| %>
  <%= f.input :slot, collection: ["Midi", "Soir"], selected: "Midi" %>
  <%= f.input :date, input_html: {id: "mydatepicker"} %>
  <%= f.input :address, as: :string %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
