<div class="search-bar">
  <div class="container">
    <div class="row form-home">
      <%= simple_form_for :search, url: dishes_path, :method => :get, :class => "form-inline" do |f| %>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.input :date, input_html: {id: "mydatepicker", value: @searched_date}, required: false, label: false %>
        </div>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.input :slot, collection: ["Midi", "Soir"], selected: @searched_slot, required: false, label: false %>
        </div>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.input :address, as: :string, input_html: {id: "address", value: @searched_address}, required: false, autocomplete: "off", label: false %>
        </div>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.input :portions, collection: 1..@max_results_portions, selected: @searched_portions || 1, label: false %>
        </div>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.input :types, collection: ['Bio', 'Sans gluten', 'Végétarien'], selected: @searched_types, input_html: { multiple: true }, label: false %>
        </div>
        <div class="col-lg-3 col-sm-6 form-group">
          <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class= "col-lg-8">
      <div class="row">
        <% @dishes.each do |dish|%>
          <div class="col-lg-6 col-xs-12">


            <%= link_to dish_path(dish.id) do %>
              <div class="card-result">
                <p> <%= dish.name %>
                </p>

                <div class="mini-profile">
                  <img src="https://avatars0.githubusercontent.com/u/15861461?v=3&s=400" class="avatar-large">
                  <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="price-card"><%= dish.price %> €</div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div id="map" class="map" >
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
        else {
          handler.getMap().setZoom(16);
        }
      });
      $("#mydatepicker").datepicker('setDate', <%= @searched_date %>);
    });
  <% end %>
<% end %>



