<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>New dish</h1>

      <%= simple_form_for(@dish) do |f| %>
        <%= f.input :name, label: 'Add New Dish', placeholder: "new dish" %>
        <%= f.input :description, label: 'Description' %>
        <%= f.input :gluten_free, inline_label: 'it is Gluten Free' %>
        <%= f.input :vegetarian, inline_label: 'it is vegetarian' %>
        <%= f.input :bio, inline_label: 'it is bio' %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>

    </div>
  </div>
</div>
