<div class="chosen-availability">Selected slot : <%=@chosen_availability%></div>
<div class="wrapper-show">
  <div class="main-content">
    <div class="dishName"><%= @dish.name %></div>

    <div class="dishDescription"><%= @dish.description %></div>

    <div class="dishPhoto">
      <%=image_tag "dish_photo" %>
    </div>

    <div class="dishPrice">5 €</div>

    <% if @dish.bio == true %>
      <div class="dishBio">
        <span class="label label-success">Bio</span>
      </div>
    <% end %>

    <% if @dish.gluten_free == true %>
      <div class="dishGluten">
        <span class="label label-success">Gluten</span>
      </div>
    <% end %>

    <% if @dish.vegetarian == true %>
      <div class="dishVegetarian">
        <span class="label label-success">Vegetarian</span>
      </div>
    <% end %>

    <div>Reviews</div>
      <div>Other availabilities</div>
  </div>

  <div class="side-choice">
    <%= simple_form_for :order, url: orders_new_path, :method => :get do |f| %>
            <%= f.input :portions, collection: 1..@chosen.portions %>
            <%= f.button :submit, value: "Place order", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>


