<div class="chosen-availability">Selected slot : <%=@chosen_availability%></div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 show-card-wrapper">
        <div class="show-card">
          <%=image_tag "dish_photo", class: "dish_photo" %>
          <%= @dish.name %>
          <%= @dish.description %>
          <!--<%= @dish.price %>--> 5€
          <% if @dish.bio == true %>
              <span class="label label-success">Bio</span>
          <% end %>

          <% if @dish.gluten_free == true %>
              <span class="label label-success">Gluten</span>
          <% end %>
          <% if @dish.vegetarian == true %>
              <span class="label label-success">Vegetarian</span>
          <% end %>
          <div class="reviews">
            reviews
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="side-choice">
          <%= simple_form_for :order, url: orders_path, :method => :post do |f| %>
              <%= f.input :portions, collection: 1..@chosen.portions %>
              <%= f.button :submit, value: "Place order", class: "btn btn-primary"  %>
          <% end %>
        </div>
        <div>
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@dish.user.address}" %>
        </div>
      </div>
  </div>
</div>
